<div class="container mx-auto px-4 py-6">
    <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold text-gray-800">FFTPRS</h1>
        <nav class="hidden md:flex items-center space-x-8">
            <a class="text-gray-600 hover:text-blue-600 transition duration-300" href="/site/">ホーム</a>
            <a class="text-gray-600 hover:text-blue-600 transition duration-300"
                href="/site/pages/workshops/">過去のFFTPRS一覧</a>
            <a class="text-gray-600 hover:text-blue-600 transition duration-300" href="#">概要</a>
            <a class="text-gray-600 hover:text-blue-600 transition duration-300" href="#">お問い合わせ</a>
        </nav>
        <button class="md:hidden text-gray-600" id="mobile-menu-button">
            <span class="material-icons">menu</span>
        </button>
    </div>
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden md:hidden" id="mobile-menu">
        <nav class="pt-2 pb-3 space-y-1">
            <a href="#overview"
                class="block py-2 px-3 text-gray-600 hover:text-blue-600 hover:bg-gray-50 rounded-md">概要</a>
            <a href="#info"
                class="block py-2 px-3 text-gray-600 hover:text-blue-600 hover:bg-gray-50 rounded-md">基本情報</a>
            <a href="#program"
                class="block py-2 px-3 text-gray-600 hover:text-blue-600 hover:bg-gray-50 rounded-md">プログラム</a>
            <a href="#proceedings"
                class="block py-2 px-3 text-gray-600 hover:text-blue-600 hover:bg-gray-50 rounded-md">予稿集</a>
            <a href="#links"
                class="block py-2 px-3 text-gray-600 hover:text-blue-600 hover:bg-gray-50 rounded-md">関連情報</a>
        </nav>
    </div>
</div>
