<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">    
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&amp;display=swap"/>
    
    <link rel="stylesheet" href="/site/{{ '/assets/css/style.css' | relative_url }}">
    
</head>
<body class="bg-gray-50">
    <!-- Header -->
    {% include header.html %}
    
    <!-- Main Content -->
    <main class="container mx-auto px-4 py-12">
        {{ content }}
    </main>
    
    <!-- Footer -->
    {% include footer.html %}
    
    <!-- Custom JavaScript -->
    <script src="/site/{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html> 